body {
  width: 400px;
  font-family: monospace;
  font-size: 1em;
}

#altList {
  background: lightgrey;
  padding: 10px;
  overflow: scroll;
  height: 0px;
  display: flex;
  flex-direction: column;
}

#altList title {
  background: chocolate;
}

#altList span {
  display: flex;
}

#altList.active {
  height: 400px;
}
